<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Soluciones Tecnológicas: expertos en desarrollo tecnológico, consultoría e implementación de sistemas innovadores.">
    <title>NUESTROS CLIENTES</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icoST.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" media="screen and (min-width: 768px)">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles-media.css') }}" media="screen and (max-width: 767px)">
</head>
<body>
    <!-- Banner con menú integrado -->
    <header class="banner">
        <div class="banner-content">
            <div class="scroll-wrapper">
                <h1 class="banner-title scroll-text">SOLUCIONES TECNOLÓGICAS</h1>
            </div>
            <nav class="banner-menu">
                <button class="menu-button" onclick="location.href='/'">Home</button>
                <button class="menu-button" onclick="location.href='/quienesSomos'">Quiénes Somos</button>
                <button class="menu-button" onclick="location.href='/resenas'">Nuestros Clientes</button>
                <button class="menu-button" onclick="location.href='/demos'">Explora Nuestros Demos</button>
            </nav>
        </div>
        <img src="{{ url_for('static', filename='logoST.png') }}" alt="Logo" class="banner-image">
    </header>

    <!-- Título principal -->
    <div class="menu-container">
        <h1 class="menu-title">NUESTROS CLIENTES</h1>
    </div>

    <!-- Sección descriptiva -->
    <section class="info-section">
        <h2 class="info-title">Piel Sana IGC</h2>
        <p class="info-description">Se desarrolló un software personalizado para optimizar el proceso de gestión de pacientes.</p>
    </section>

    <!-- Sección descriptiva -->
    <section class="info-section">
        <a href="https://notaria1detunja.com/" target="_blank" style="text-decoration: none; color: inherit;">
            <h2 class="info-title">Notaria primera de Tunja</h2>
            <p class="info-description">Página WEB enfocada a promocionar servicios de la Notaria.</p>
        </a>
    </section>


    <!-- Sección descriptiva -->
    <section class="info-section">
        <h2 class="info-title">RMP Comunicaciones S.A.S</h2>
        <p class="info-description">Soporte de plataformas de IT y mantenimiento de qeuipos.</p>

    </section>
</body>
</html>
